.menu-btn {
  display: none !important;
}

.mobile-menu {
  list-style: none;
  text-align: left;
  box-shadow: 0 0 2px 2px #d1caca4d;
  transition: 0.2s all;
}

.mobile-menu li {
  margin: 10px;
}

.mobile-menu li:hover {
  text-decoration: underline;
  transition: 2s all;
}

.submenu {
  display: none !important;
  position: relative;
  transition: 0.2s all;
  list-style: none;
  z-index: 1;
}

.submenu li {
  text-align: left !important;
  margin-left: -100px;
}

.navbar {
  font-size: 18px;
  background-color: #178b8f;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  min-height: 50px;
}

.main-nav {
  list-style-type: none;
  color: #000000;
}

.main-nav li:hover {
  color: #fff;
  text-decoration: underline;
  transition: all 1s ease;
}

.main-nav li:hover .submenu {
  display: block !important;
  position: absolute;
  top: 2.8em;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.submenu li {
  margin-left: -1.2em !important;
  color: #000;
}

.submenu li:hover {
  text-decoration: underline;
  color: #178b8f;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 0.1em;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.side-menu,
.side-menu1,
.side-menu2,
.side-menu3 {
  display: none;
  list-style: none;
  position: relative;
  background-color: #fff;
  top: 0;
  font-size: 0.9em;
  width: max-content;
}

.side-menu {
  left: -2em;
}

.side-menu li {
  text-decoration: none;
}

.indicator i {
  display: none;
}

.submenu i {
  display: none;
}
.submenu:hover i {
  display: inline;
  margin-left: 2px;
  text-decoration: none;
}
.indicator:hover i {
  display: inline;
  margin-left: 2px;
  text-decoration: none;
}

.side-menu1 li {
  text-decoration: none;
  
}

.side-menu2 li {
  text-decoration: none;
  
}

.side-menu3 li {
  text-decoration: none;
  
}

.link {
  color: #000;
}

nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #39d1d6;
  transition: all 1s ease-in-out;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.top-nav {
  margin-bottom: 1em;
}

.bars,
.close {
  font-size: 2em;
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .main-nav {
    display: none;
  }

  .menu-btn {
    position: absolute;
    right: 15px;
    display: block !important;
    box-shadow: 0 0 18px 1px #0c838b !important;
  }
  .mobile-menu li {
    font-size: 0.5em;
    transition: all 1s ease;
  }
  .mobile-menu {
    right: 0;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 3.3em;
  }
}

