@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,400;0,500;1,100&family=Roboto&display=swap");

* {
    font-family: "Aktiv Grotesk Cd Trial", sans-serif;

}

.bg {
  position: relative;
  height: 100vh;
  background: url(https://www.charings.com/wp-content/uploads/2021/06/banner-shape-01-1.png)
    no-repeat top right / contain;
  opacity: 1;
  z-index: -2;
}

.bg .container h1 {
  color: #000;
  font-weight: 900;
  font-size: 5em;
  z-index: 2;
  opacity: 1;
}

.animate {
  position: absolute;
  width: 150px;
  top: 5%;
  right: 1%;
  z-index: -1;

  animation: moveCloud 60s linear infinite;
}

.animate1 {
  position: absolute;
  width: 100px;
  top: 30%;
  right: 60%;
  z-index: -1;
  animation: moveCloud1 140s linear infinite;
}


.animate3 {
  position: absolute;
  width: 100px;
  top: 20%;
  right: 1%;
  z-index: -1;

  animation: moveCloud3 60s linear infinite;
}

@keyframes moveCloud {
  0% {
    right: 1%;
  }
50%{
    top: 2%
}

  75% {
    right: 20%;
  }

  100%{
    right: 1%;
  }

}

@keyframes moveCloud1 {
  0% {
    left: 30%;
  }
50%{
    top: 2%
}

  75% {
    left: 40%;
  }

  100%{
left: 30%;
  }

}


@keyframes moveCloud3 {
  0% {
    right: 5%;
  }
50%{
    top: 15%
}

  75% {
    right: 1%;
  }

 100%{
    right: 15;
 }

}

/* @media screen and (max-width: 768px) {
  .bg .container h1 {
    background-color: transparent;
    text-shadow: #000;
    background-blend-mode: color-burn;
    font-size: 3em;
    color: #5f664e;
  }
  .bg {
    background: url(https://www.charings.com/wp-content/uploads/2021/06/banner-shape-01-1.png)
      no-repeat top center / cover;
    height: 60vh;
  }
} */

@media screen and (max-width: 992px) {
  .bg .container h1 {
    background-color: transparent;
    text-shadow: #000;
    background-blend-mode: color-burn;
    font-size: 3em;
    color: #5f664e;
  }
  .bg {
    background: url(https://www.charings.com/wp-content/uploads/2021/06/banner-shape-01-1.png)
      no-repeat top center / cover;
    height: 60vh;
  }
}
