@import url("https://fonts.cdnfonts.com/css/aktiv-grotesk-cd-trial");

body {
  margin: 0;
  font-family: "Aktiv Grotesk Cd Trial", sans-serif;
  font-family: "Aktiv Grotesk Ex Trial", sans-serif;
  font-family: "Aktiv Grotesk VF Trial", sans-serif;
  font-family: "Aktiv Grotesk Trial", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html{
  font-family: "Aktiv Grotesk Cd Trial", sans-serif;

}